<?php

$header = <<<EOF
This file is part of the Jaeger Client package.

(c) Eligijus Vitkauskas <eligijusvitkauskas@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
EOF;

$finder =  PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
    ->in(__DIR__.'/tests');

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        'header_comment' => ['header' => $header, 'location' => 'after_open'],
        'yoda_style' => null,
    ])
    ->setFinder($finder)
;
